@font-face {
    font-family: "Orbitron";
    src: url(./fonts/Orbitron-Black.ttf) format("truetype");
}

html{
    background: radial-gradient(#223240 10%, #1b2b38 50%);
}

body{
    background: radial-gradient(#223240 10%, #1b2b38 50%);
    height: 100vh;
    padding: 0;
}
.loadingpage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    perspective: 800px;
    animation: loadingDone 5s ease forwards;
}
.loading{
    background: linear-gradient(to right, black 50%, white 50%);
    background-clip: text;
    background-size: 200% 100%;
    background-position: 100% 0%;
    color: transparent;
    font-size: 80px;
    font-family: 'Orbitron';
    letter-spacing: 20px;
    animation: loadingAnimation 5s ease forwards;
    transform-style: preserve-3d;
    opacity: 1;
}
@keyframes loadingAnimation{
    from {
        background-position: 100% 0%;
    }
    30%{
        background-position: 70% 0%;
    }
    80%{
        background-position: 40% 0%;
    }
    90%{
        opacity: 1;
    }
    to {
        background-position: 0% 0%;
        transform: translateZ(200px);
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes loadingDone{
    99%{
        display: flex;
    }
    100%{
        display: none;
    }
}
.body{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: start;
}
.nav{
}